html {
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: 1rem;
}

.canvas {
    max-width: max-content;
    max-height: max-content;
    background-color: aliceblue;
}